.st3_mn_title {
  padding-left: 0 0 0 10px;
}
.st3_mn_title p:nth-child(1) {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  width: 200px;
  margin: 0 auto;
  margin-right: 270px;
}

.st3_mn_title p:nth-child(2) {
  color: #8f8f8f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 455px;
  margin: 0 auto;
  margin-top: 10px;
}

.st_3_main {
  padding-top: 30px;
  border-radius: 10px;
  width: 454px;
  margin: 0 auto;
}

.st_3_1 img {
  border-radius: 10px;
  width: 454px;
  height: 250px;
}
.st_3_2 img {
  padding-top: 30px;
  border-radius: 10px;
  width: 454px;
  height: 350px;
}

/* 3-2 */
.st_3_main2 {
  padding-top: 30px;
  border-radius: 10px;
  width: 454px;
  margin: 0 auto;
}

.st_3_3 img {
  border-radius: 10px;
  width: 454px;
  height: 300px;
}
.st_3_4 img {
  padding-top: 30px;
  border-radius: 10px;
  width: 454px;
  height: 250px;
}

@media screen and (min-width: 860px) {
  .st_3_main {
    display: flex;
    width: 830px;
    margin: 0 auto;
  }
  .st_3_1 img {
    width: 500px;
    height: 300px;
  }
  .st_3_2 img {
    padding-left: 30px;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 310px;
    height: 300px;
  }
  /* 3-2 */
  .st_3_main2 {
    display: flex;
    width: 830px;
    margin: 0 auto;
  }
  .st_3_3 img {
    width: 500px;
    height: 300px;
  }
  .st_3_4 img {
    padding-left: 30px;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 310px;
    height: 300px;
  }
}

@media screen and (min-width: 860px) {
  .st_3_main {
  }
  .st_3_1 img {
  }
  .st_3_2 img {
  }
}
